.pagination-wrapper{
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 55%;
}
.pagination-wrapper ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    padding: 25px;
    background-color: #cecece;
    margin: auto;
    border-radius: 12px;
    margin-bottom: 75px;
    width: 100%;
    margin-left: -22px;
}

.pagination-wrapper .page-item{
    padding: 7px;
    background-color: #fff;
    margin-left: 8px;
    border-radius: 9px;
}
.pagination-wrapper .page-item a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #000
}